p {
  line-height: 32px;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}
/* ul {
    padding-left: 0;
    margin-bottom: 0;
}
li {
    position: relative;
    padding-left: 25px;
    line-height: 28px;
}
i {
    position: absolute;
    left: 0;
    top: 21px;
} */