.hero-container1{
  font-family: 'Fraunces', serif;
}
.hero-section-1 {
  background-image: url(../Assets//HeroSection/hero-secton-img1.jpg);
  /* background-attachment: fixed; */
  height: 300px; /* Set a specified height */
  background-position: center; /* Center the image horizontally */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.hero-section-2 {
  background-image: url(../Assets/HeroSection/hero-section-img2.jpg);
  /* background-attachment: fixed; */
  height: 300px; /* Set a specified height */
  background-position: center; /* Center the image horizontally */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.carousel-left {
  margin-left: 6%;
  padding-left: 0%;
  margin-top: 8%;
}
.carousel-save {
  font-size: 20px;
  color: #777;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-left: 5px;
  font-family: "Fraunces", serif;
}
.carousel-heading {
  font-size: 3.9rem;
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
}
.carousel-left button {
  background-color: #f39910;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 11px 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 12px;
  margin-left: 5px;
  font-family: "Fraunces", serif;
}

.temp {
  width: 300px;
  height: 400px;
  background-color: #777;
}
.temp:hover h1 {
  display: block;
}

.temp h1 {
  display: none;
}

@media only screen and (max-width: 992px) {
  .carousel-left {
    margin-left: 12px;
  }
  .carousel-heading{
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-section-1 {
    height: 450px;
  }
  .hero-section-2 {
    height: 450px;
  }
  
}

.text-banner {
  color: orange;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  line-height: 28px;
}

.image-div {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.image-div img {
  background-size: cover;
  background-position: center center;
  display: block;
  width: 100%;
  height: auto;
}
.banner-4 {
  padding-left: 50px;
  padding-right: 50px;
}
.text-banner {
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  top: 40%;
  width: 60%;
  height: 30%;
}
.text-banner h4 {
  color: orange;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  line-height: 28px;
  font-size: 19px;
}
.text-banner h2 {
  font-size: 28px;
  letter-spacing: 0.03em;
  margin-bottom: -6px;
  font-weight: 600;
}
.image-div:hover img {
  transform: scale(1.1);
  /* transition: all 0.5s ease; */
}
