.heading-cotainer h2 {
  font-family: "Fraunces", serif;
  margin: 65px auto;
  margin-bottom: 14px;
  font-size: 34px;
  font-weight: 900;
  display: flex;
  justify-content: center;
}
.heading-cotainer p {
  /* font-family: "Fraunces", serif; */
  font-size: 14px;
  color: #777;
  color: #777;
  text-align: center;
  padding: 0px 24rem;
  line-height: 24px;
  letter-spacing: 0.05em;
  padding-bottom: 30px;
}

.products {
  padding-bottom: 70px;
  margin: 16px 0px;
  padding: 0px 12px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.rating {
  font-size: 14px;
  gap: 7px;
  margin: 4px 0px;
}
.star {
  color: #ffa200;
}
.gray-start {
  color: #bfbfbf;
}

.card {
  width: 233px;
}
.card-body {
  padding: 0;
  text-align: center;
  position: relative;
  margin-top: 8px;
  text-align: center;
  /* width: 100%; */
  margin: auto;
}
.name h6 {
  line-height: 1;
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 3px;
  /* -webkit-transition: all 0.5s ease; */
  transition: all 0.5s ease;
  font-size: 16px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  color: #777;
}
.name h4 {
  font-size: 19px;
  color: #222;
  font-weight: 600;
  margin-bottom: 0;
  transition: all 0.5s ease;
}
.btn {
  bottom: 0;
  position: relative;
  opacity: 1;
  margin-top: 4px;
  animation: none;
  color: #ffa200;
  margin: auto;
  cursor: pointer;
}
.btn i {
  color: #ffa200;
  font-size: 18px;
  margin-top: 3px;
  margin-right: 4px;
}
